html {
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
p,
li {
    margin: 0;
}

.container {
    width: 1230px;
    margin-left: 215px;
    margin-right: 215px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.header-section {
    display: flex;
    border-bottom: 1px solid #ECECEC;
    }
body {
    font-family: Roboto, sans-serif;
    color: #212121;
    margin: 0;
}
a {
    text-decoration: none;
}
:root {
    --maincolor: #757575;
    --secondarycolor: #2196F3;
    --accentcolor: #FFFFFF;
}
.logo-link {
    margin-top: 24px;
    margin-bottom: 25px;
    }
.logo-text {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondarycolor);
}
.logo-title {
    color: #000000;
}
.logo-link:active,
.logo-link:hover,
.logo-link:focus {
    color: teal;
}
.site-nav {
    display: flex;
    margin: 32px 0px 32px 93px;
}
.site-nav  {
    color: var(--maincolor);
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.link-site-nav {
    color: var(--secondarycolor);
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus {
    color: var(--secondarycolor);
}
.section-contacts {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    }
.contacts-item:not(:last-child) {
    margin-right: 40px;
}
.contacts-item > .contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--maincolor);
}
.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--secondarycolor);
}
.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    }
.hero-title {
    width: 696px;
    margin-left: 452px;
    margin-right: 452px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    color: var(--accentcolor);
}
.hero-btn {
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 24px;
    margin-top: 30px;
    margin-left: 700px;
    margin-right: 700px;
    background: var(--secondarycolor);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    align-items: center;
    text-align: center;
    letter-spacing: 0.96px;
    color: var(--accentcolor);
    cursor: pointer;
    
}
.hero-btn:active {
    visibility: hidden;
}
.preference-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.preference-lists {
    display: flex;
}
.preference-item:not(:last-child) {
    margin-right: 30px;
}
.preference-title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.preference-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--maincolor);
}
.work-title,
.comand-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.work-title {
    margin-bottom: 50px;
    text-align: center;
}
.comand-title {
    text-align: center;
    margin-bottom: 50px;
}
.work-container {
    display: flex;
    justify-content: space-between;
}
.work-section {
    padding-bottom: 94px; 
}
.comand-section {
    background: #F5F4FA;
    pading-top: 94px;
    padding-bottom: 94px;
    padding-top: 94px;
    
}
.comand-item {
    display: flex;
    justify-content: space-between;
}
.comand-items {
    background: var(--accentcolor);
}
.comand-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.comand-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--maincolor);
    text-align: center;
    margin-bottom: 30px;
}
.footer-section {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-section .logo-title {
    color: var(--accentcolor);
}
.address-section {
    margin-top: 28px;
}
.addres-items:not(:last-child) {
    margin-bottom: 12px;
}
.addres-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.addres-street {
    color: var(--accentcolor);
}
.addres-link:active,
.addres-link:hover,
.addres-link:focus {
    color: var(--secondarycolor);
}
.our-proects {
    padding-bottom: 94px;
}
.nav-proects-btn {
    display: flex;
    margin-top: 94px;
    margin-bottom: 50px;
    justify-content: center;
    
}
.btn-proects {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.proects-item:not(:last-child) {
    margin-right: 8px;
}
.btn-proects:active,
.btn-proects:hover,
.btn-proects:focus {
    background: var(--secondarycolor);
    color: var(--accentcolor);
}
.proects-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}
.list-item-proects {
    margin-right: 30px;
    border: 1px solid #EEE;
    background: #FFF;
}
.list-item-proects:nth-child(3n) {
    margin-right: 0px;
}
.proects-title {
    margin-left: 24px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.proects-text {
    margin-left: 24px;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--maincolor);
}